* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding: 20px;
}

/* Container for sidebar and main content */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 20px;
}

.menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto 10px auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #444;
}

/* Main content styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    align-content: center;
}

header h1 {
    font-size: 24px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 400px;
    margin-bottom: 35px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.department-title {
    background-color: #e0f4ff;
    color: #333;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.profile-list {
    max-width: 800px;
    margin: 20px auto;
}

.profile-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.profile-info p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.profile-info .email {
    color: #007bff;
    text-decoration: none;
}

.details-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #0056b3;
}
